<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>


<p id="1">-1</p>
<p id="2">-1</p>

<script>


    var doAjax = function (user_id) {
        var url = "/user/" + user_id + "/get_new.json";
        console.log(url);
        jQuery.ajax({
            url: url,
            contentType: "application/json"
        }).done(function (data) {
            $("#"+user_id).html(JSON.stringify(data, null, "  "));
            console.log(data);
        });
    };

    setInterval(doAjax.bind(null,1), 5000);
    setInterval(doAjax.bind(null,2), 5000);


    var takeInput = function(user_id, command_id){
        if (command_id == 1){

        }
        else if (command_id == 2){

        }
        else if (command_id == 3){

        }
        else if (command_id == 4){

        }


    }

</script>
